body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BDBBB6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 10vh;
}
nav {
    width: 100%;
}
  
.nav-container{
    display: flex;
    align-items: center;
    font-size: 2.5em;
    font-variant: small-caps;
}

.logo {
    font-size: 50px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    text-align: center;
}


li{
    display: inline;
    margin: 0 10px;
    border-right: 5px solid black;
    padding: 0 10px;
}

li:last-child {
    border-right: none;
}

li a:hover {
    color: #aeb1b4df;
}

.active {
    opacity: 10%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    border: 5px solid black;
    border-radius: 5em;
    ;
}

.box {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 1em;
    display: inline-block;
    margin: 10px;
    border: 6px solid #f0f9b7e7;
}