body {
    background-color: #FBFBFF;
    overflow-x: hidden;
}

.icon {
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 62px;
    font-size: 40px;
    font-family: 'Mochiy Pop One';
    transform: translate(50px,30px);
}

.icon:hover{
    cursor: default;
}
.nav-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 5px;
    margin-left: 650px;
    transform: translate(0px, -60px);
}

.links {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.links:hover {
    color: #a3a3a3;
    transition: 0.2s;
    transform: scale(1.1);
}

a:link{
    text-decoration: none;
    color: #000000;
    font-family: 'Mochiy Pop One';
}

a:visited{
    color: #000000;
}

a:hover{
    color: #a3a3a3;
}

a:active{
    color: #000000;
}

.gallery-container {
    transform: translateX(150px);
}
.polaroid {
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
}

.polaroid img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}