body {
    background-color: #FBFBFF;
    /* overflow-x: hidden; */
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 5px;
}

.links {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

.links:hover {
    color: #a3a3a3;
    transition: 0.2s;
    transform: scale(1.1);
}

.links a:link{
    text-decoration: none;
    color: #000000;
    font-family: 'Mochiy Pop One';
}

.links a:visited{
    color: #000000;
}

.links a:hover{
    color: #a3a3a3;
}

.main-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FBFBFF;
    padding: 20px;
    margin-right: 130px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 30px;
    width: 600px;
    height: 500px;
    background: linear-gradient(90deg, #333333, #9e9ea2);
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 20px;
}

.social-icon {
    font-size: 80px;
    /* background-color: #d0d0d4; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icon a {
    color: #fdfdff;
    text-decoration: none;
}

.social-icon a:hover {
    color: #a3a3a3;
    transition: 0.2s;
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 50%;
    height: 90%;
    gap: 15px;
    /* background-color: antiquewhite; */
}

input[type="text"], 
input[type="email"],
textarea {
    max-width: 100%;
    width: 385px;
    padding: 12px 15px;
    border-radius: 25px;
    border: none;
    font-size: 26px;
    background-color: #f0f0f0;
}

textarea {
    height: 100px;
    border-radius: 15px;
    resize: none;
}

button {
    background-color: #4CAF50;
    color: white;
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Mochiy Pop One', sans-serif;
    align-self: center;
    margin-top: 5px;
}

.floating-text {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    pointer-events: none;
    animation: glideToCenter 1s ease-out forwards; 
} 

@keyframes glideToCenter {
    0% {
        top: 80px; 
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}