body {
    margin: 0;
    background-color: #FBFBFF;
    overflow-x: hidden;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 5px;
}

.links {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

.links:hover {
    color: #a3a3a3;
    transition: 0.2s;
    transform: scale(1.1);
}

.links a:link{
    text-decoration: none;
    color: #000000;
    font-family: 'Mochiy Pop One';
}

.links a:visited{
    color: #000000;
}

.links a:hover{
    color: #a3a3a3;
}


.floating-text {
    width: 100%;
    height: 100%;
    background: rgba(rgb(226, 224, 224), rgb(226, 224, 224), rgb(226, 224, 224), 0.8);
    backdrop-filter: blur(10px);
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #000000;
    pointer-events: none;
    animation: glideToCenter 1s ease-out forwards; 
}

@keyframes glideToCenter {
    0% {
        top: 80px; 
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

