@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}

body {
    background-color: #FBFBFF;
    overflow-x: hidden;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 5px;
}

.links {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 30px;} 

.home{
    color: #a3a3a3;
    opacity: 0.5;
}

.links:hover {
    color: #a3a3a3;
    transition: 0.2s;
    transform: scale(1.1);
} 

a:link{
    text-decoration: none;
    color: #000000;
    font-family: 'Mochiy Pop One';
}

a:visited{
    color: #000000;
}

a:hover{
    color: #a3a3a3;
    
}

/* .floating-text {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    pointer-events: none;
    animation: glideToCenter 1s ease-out forwards; 
} 

@keyframes glideToCenter {
    0% {
        top: 80px; 
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
} */

.main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FBFBFF;
    padding: 20px;
    margin-top: 50px;
    animation: fadeIn 1s ease-in-out; 
}

.main-profile {
    /* margin-right: 150px; */
    width: 250px;
}
.main-image {
    width: 445px;
    height: 433px;
    border-radius: 78px;
    margin-left: 170px;
    border: 1px solid black;
}

.main-image:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    box-shadow: #a3a3a3 10px 10px 10px;
}
.main-text{
    display: flex;
    justify-content: center;
    align-content: center;  
    text-align: center;
    width: 270px;
    /* margin-left: 630px; */
    /* margin-right: 260px; */
    /* transform: translate(60px, -300px); */
}

h1 {
    font-size: 95px;
    font-family: 'Moirai One';
    color: #000000;
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
    font-family: 'Mochiy Pop One';
    text-align: justify;
    line-height: 2;
    margin: 0;
    padding: 0;
}

h2 {
    width: 390px;
    font-size: 24px;
    font-family: 'Mochiy Pop One';
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(650px, -100px);
}

.arrow-left {
    transform: translate(-450px, 0);
}

.arrow-right {
    transform: translate(450px, 0); 
}

.arrow i {
    font-size: 20px;
    color: #333;
}

.arrow {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.arrow:hover {
    background-color: #f9f9f9;
}
.project-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, -100px);
}

.image-container {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    gap: 30px;
    padding: 10px;
    padding-top: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    margin: 10px;
    border: 1px solid black;
}

.project img.side {
    opacity: 35%;
}

.project img.center {
    transform: translateY(-30px);
}

.typewriter {
    font-family: 'Mochiy Pop One';
    font-size: 32px;
}